.button {
  border: none;
  border-radius: 40px;
  font-weight: 400;
  transition: all 0.35s ease;
  padding: 0;
}

.container-buttons{
  flex-direction: column;
  // align-items: center;
  @media (min-width: 991px) {
    flex-direction: row;
  }
}

.button-view-proyect {
  background-color: $color-primario;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  &:hover {
    background-color: $color-primario-dark;
    color: $color-blanco;
  }
}

.button-aboutMe {
  font-size: 18px;
  padding: 1rem 1.5rem;
  width: fit-content;
  background-color: $color-primario;
  &:hover {
    background-color: $color-primario-dark;
    color: $color-blanco;
  }
}

.button-soon {
  text-transform: uppercase;
  background-color: $color-primario;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  width: 193px;
  &:hover {
    background-color: $color-primario-dark;
    color: $color-blanco;
  }
}

.button-download {
  font-size: 18px;
  margin-left: 0;
  width: fit-content;
  padding: 1rem 1.5rem;
  background-color: $color-negro;
  border: 1px solid $color-border-negro;
  img{
    transform: rotate(90deg);
  }
  &:hover {
    background-color: $color-primario-dark;
    color: $color-blanco;
    border: 1px solid transparent;
  }
  @media (min-width: 991px) {
    margin-left: 2rem;
  }
}

.button-animate {
  transition: background-color 0.25s ease;
  &:hover img {
    transform: rotate(-45deg);
  }
  img {
    transition: transform 0.15s ease;
  }
}
