.container-proyectos {
  padding: 3rem 0;
  @media (min-width: 991px) {
    padding: 6rem 0;
  }
  .col-lg-12 {
    img {
      top: 7%;
      @media (min-width: 991px) {
        top: 10%;
      }
    }
    h2 {
      font-size: 4rem;
      padding: 1rem 0;
      @media (min-width: 991px) {
        font-size: 8rem;
      }
    }
    .description-proyect {
      font-size: 1.5rem;
      @media (min-width: 991px) {
        width: 40ch;
      }
    }
  }
  .col-lg-6 {
    h3 {
      font-size: 3rem;
      padding: 1rem 0;
      @media (min-width: 991px) {
        font-size: 4rem;
      }
      @media (min-width: 1400px) {
        font-size: 5rem;
      }
    }
    .description-proyect {
      font-size: 1.5rem;
    }
  }
}

// ------------------------ Styles Informacion de los Proyectos  ------------------------ //.

.bg-presentation-proyect {
  background-color: $color-blanco;
}

.title-proyect {
  font-size: 3rem;
  @media (min-width: 1400px) {
    font-size: 5rem;
  }
  @media (min-width: 991px) {
    font-size: 4rem;
  }
}

.container-overview {
  padding: 5rem 3rem;
}
